<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>RecipeListController</servlet-name>
		<display-name>RecipeListController</display-name>
		<description></description>
		<servlet-class>com.easy_recipe.controllers.RecipeListController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SingleRecipeController</servlet-name>
		<display-name>SingleRecipeController</display-name>
		<description></description>
		<servlet-class>com.easy_recipe.controllers.SingleRecipeController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchController</servlet-name>
		<display-name>SearchController</display-name>
		<description></description>
		<servlet-class>com.easy_recipe.controllers.SearchController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddRecipeController</servlet-name>
		<display-name>AddRecipeController</display-name>
		<description></description>
		<servlet-class>com.easy_recipe.controllers.AddRecipeController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminRecipeListController</servlet-name>
		<display-name>AdminRecipeListController</display-name>
		<description></description>
		<servlet-class>com.easy_recipe.controllers.AdminRecipeListController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminRecipeList</servlet-name>
		<display-name>AdminRecipeList</display-name>
		<description></description>
		<servlet-class>com.easy_recipe.controllers.AdminRecipeList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowEditFormController</servlet-name>
		<display-name>ShowEditFormController</display-name>
		<description></description>
		<servlet-class>com.easy_recipe.controllers.ShowEditFormController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateRecipeController</servlet-name>
		<display-name>UpdateRecipeController</display-name>
		<description></description>
		<servlet-class>com.easy_recipe.controllers.UpdateRecipeController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteRecipeController</servlet-name>
		<display-name>DeleteRecipeController</display-name>
		<description></description>
		<servlet-class>com.easy_recipe.controllers.DeleteRecipeController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminLoginController</servlet-name>
		<display-name>AdminLoginController</display-name>
		<description></description>
		<servlet-class>com.easy_recipe.controllers.AdminLoginController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegistrationController</servlet-name>
		<display-name>RegistrationController</display-name>
		<description></description>
		<servlet-class>com.easy_recipe.controllers.RegistrationController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserLoginController</servlet-name>
		<display-name>UserLoginController</display-name>
		<description></description>
		<servlet-class>com.easy_recipe.controllers.UserLoginController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CommentController</servlet-name>
		<display-name>CommentController</display-name>
		<description></description>
		<servlet-class>com.easy_recipe.controllers.CommentController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserLogoutController</servlet-name>
		<display-name>UserLogoutController</display-name>
		<description></description>
		<servlet-class>com.easy_recipe.controllers.UserLogoutController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminLogoutController</servlet-name>
		<display-name>AdminLogoutController</display-name>
		<description></description>
		<servlet-class>com.easy_recipe.controllers.AdminLogoutController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GalleryController</servlet-name>
		<display-name>GalleryController</display-name>
		<description></description>
		<servlet-class>com.easy_recipe.controllers.GalleryController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LikesController</servlet-name>
		<display-name>LikesController</display-name>
		<description></description>
		<servlet-class>com.easy_recipe.controllers.LikesController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecipeListController</servlet-name>
		<url-pattern>/RecipeList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SingleRecipeController</servlet-name>
		<url-pattern>/recipes</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchController</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddRecipeController</servlet-name>
		<url-pattern>/addRecipe</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminRecipeListController</servlet-name>
		<url-pattern>/adminRec-list</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminRecipeList</servlet-name>
		<url-pattern>/adminRecipeList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowEditFormController</servlet-name>
		<url-pattern>/edit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateRecipeController</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteRecipeController</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLoginController</servlet-name>
		<url-pattern>/adminLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistrationController</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserLoginController</servlet-name>
		<url-pattern>/userLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommentController</servlet-name>
		<url-pattern>/commentController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserLogoutController</servlet-name>
		<url-pattern>/userLogout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLogoutController</servlet-name>
		<url-pattern>/adminLogout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GalleryController</servlet-name>
		<url-pattern>/gallery</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LikesController</servlet-name>
		<url-pattern>/likes</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/error.jsp</location>
	</error-page>
</web-app>
